/* Globals.scss */

$color: #262626;
$background-color: #C0A172;
$base-font-size: 22px;
$logo-color: #6e6e6e;
$line-height: 1.45;

@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}


@import url('http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic|Dancing+Script:400,700');

@mixin body-font-light {
    font-family: 'Playfair Display', 'helvetica', 'verdana', sans-serif;
    font-weight: normal;
    font-style: normal;
}

@mixin headline-font {
    font-family: 'Dancing Script', 'helvetica', 'verdana', sans-serif;
    font-weight: normal;
    font-style: normal;
}